* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100vh;
    width: 100vw;
}

.left {
    height: 100%;
    width: 50%;
    background-color: white;
    display: inline-block;
    background-image: url(image1.jpg);
    background-size: cover;
    background-position: bottom;

}

.right {
    height: 100%;
    width: 50%;
    background-color: white;
    display: inline-block;
    background-image: url(image2.jpg);
    background-size: cover;
    background-position: center;


}

.left .overlay {
    height: 100%;
    width: 100%;
    background: #00000094;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Anton;
    color: white;

   


}

.right .overlay {
    height: 100%;
    width: 100%;
    background: #00000094;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: Anton;
    color: aliceblue;
}
